@charset "UTF-8";
body,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
img,
legend,
li,
menu,
nav,
ol,
p,
ul {
  margin: 0;
  padding: 0; }

fieldset,
img {
  border: 0; }

img {
  display: block; }

address,
caption,
cite,
code,
dfn,
th,
var {
  font-style: normal;
  font-weight: normal; }

ol,
ul {
  list-style: none; }

body {
  color: #333;
  padding: 0;
  font: 12px/20px "SimSun","瀹嬩綋","Arial Narrow",HELVETICA;
  background: #fff;
  /* overflow-y:scroll;*/
  overflow-x: hidden; }

a {
  color: #666;
  text-decoration: none; }

/*------------header-----------------*/
.head-top,
.head-bottom {
  width: 1190px;
  margin: 0 auto;
  padding: 0; }

header {
  width: 100%; }

.head-top {
  width: 1190px;
  height: 40px;
  margin: 5px auto;
  line-height: 40px; }
  .head-top .logo {
    display: block;
    float: left;
    height: 42px;
    width: 181px;
    background: url(../img/476.jpg) no-repeat;
    background-size: 100%; }
  .head-top .logo-dz {
    float: left;
    padding: 0 10px;
    line-height: 40px; }
    .head-top .logo-dz a {
      padding: 0 10px;
      line-height: 40px; }
  .head-top .head-nav {
    float: right; }
    .head-top .head-nav li:nth-of-type(4) a {
      color: red; }
    .head-top .head-nav li:nth-of-type(3):hover .towcode {
      display: block; }
    .head-top .head-nav li {
      float: left;
      padding-left: 10px;
      position: relative; }
      .head-top .head-nav li a {
        line-height: 40px;
        display: inline-block;
        padding-right: 10px; }
      .head-top .head-nav li a:hover {
        color: red; }
      .head-top .head-nav li .towcode {
        position: absolute;
        top: 85px;
        left: -95px;
        z-index: 99;
        width: 280px;
        height: 150px;
        border: 1px #ddd solid;
        background: #fff;
        display: none; }
      .head-top .head-nav li .phone {
        background: url(../img/phone.gif) no-repeat; }
      .head-top .head-nav li .icon {
        display: inline-block;
        width: 12px;
        height: 15px;
        margin-right: 5px;
        margin-bottom: -2px; }
      .head-top .head-nav li .head-cart {
        background: url(../img/index-icon.png) no-repeat -45px -96px; }

#head-wbottom {
  width: 100%;
  height: 36px;
  background: #000; }
  #head-wbottom .head-bottom {
    height: 36px;
    width: 1190px;
    position: relative;
    z-index: 200; }
    #head-wbottom .head-bottom .all-com:hover .head-menu {
      display: block; }
    #head-wbottom .head-bottom .all-com {
      float: left;
      position: relative;
      height: auto;
      width: 210px; }
      #head-wbottom .head-bottom .all-com .all-href {
        display: block;
        text-indent: 24px;
        background: #D6211A url(../img/public.3.4.gif) no-repeat 0 -82px;
        height: 36px;
        line-height: 36px;
        width: 210px;
        font-size: 16px;
        color: #fff; }
      #head-wbottom .head-bottom .all-com .head-menu {
        display: none;
        z-index: 199;
        width: 210px;
        position: absolute;
        left: 0;
        top: 36px;
        background: url(../img/menu-bg.png) no-repeat; }
        #head-wbottom .head-bottom .all-com .head-menu a {
          color: #fff; }
        #head-wbottom .head-bottom .all-com .head-menu a:hover {
          text-decoration: underline; }
        #head-wbottom .head-bottom .all-com .head-menu li:hover {
          background: #D6211A; }
        #head-wbottom .head-bottom .all-com .head-menu li {
          z-index: 199;
          position: relative;
          padding: 7px 15px 8px;
          width: 180px;
          line-height: 22px;
          box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.1);
          -moz-box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.1);
          -webkit-box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.1); }
          #head-wbottom .head-bottom .all-com .head-menu li h3 {
            line-height: 18px;
            font-size: 16px;
            height: 21px; }
          #head-wbottom .head-bottom .all-com .head-menu li p a {
            display: inline-block;
            padding-right: 4px; }
    #head-wbottom .head-bottom .nav {
      float: left;
      width: 684px;
      height: 36px;
      background: #333; }
      #head-wbottom .head-bottom .nav .nav-li:nth-of-type(1) {
        background: #000000; }
      #head-wbottom .head-bottom .nav .nav-li:hover {
        background: #000000; }
        #head-wbottom .head-bottom .nav .nav-li:hover .nav-li-box {
          display: block; }
        #head-wbottom .head-bottom .nav .nav-li:hover .com-dz {
          background: #000000; }
      #head-wbottom .head-bottom .nav .nav-li {
        float: left;
        position: relative;
        height: 36px;
        width: 76px; }
        #head-wbottom .head-bottom .nav .nav-li a:nth-of-type(1) {
          border: 0; }
        #head-wbottom .head-bottom .nav .nav-li a {
          font-size: 14px;
          line-height: 36px;
          margin-top: 11px;
          padding: 0 23px 0 24px;
          border-right: 1px solid #f1f1f1;
          color: #fff; }
        #head-wbottom .head-bottom .nav .nav-li .nav-li-box {
          display: none;
          background: #fff;
          z-index: 99;
          position: absolute;
          top: 36px;
          left: -76px;
          border: 1px #eee solid;
          height: 345px;
          width: 635px;
          box-shadow: 0 0 3px #ddd; }
          #head-wbottom .head-bottom .nav .nav-li .nav-li-box .nav-box-img {
            float: left;
            display: block;
            margin-top: 20px;
            padding: 0 10px 0 20px;
            border-right: 1px solid #eee; }
          #head-wbottom .head-bottom .nav .nav-li .nav-li-box ul {
            float: left;
            padding: 20px 15px 20px 10px;
            width: 395px;
            list-style-type: circle; }
            #head-wbottom .head-bottom .nav .nav-li .nav-li-box ul li {
              margin-bottom: 13px; }
              #head-wbottom .head-bottom .nav .nav-li .nav-li-box ul li h4 {
                color: #222;
                font-weight: bold;
                font-size: 14px;
                line-height: 20px;
                padding-bottom: 4px;
                border-bottom: 1px #ddd dashed;
                margin-bottom: 7px; }
                #head-wbottom .head-bottom .nav .nav-li .nav-li-box ul li h4 a {
                  color: #222;
                  padding: 0;
                  font-weight: bold;
                  font-size: 14px;
                  line-height: 20px;
                  padding-bottom: 4px; }
              #head-wbottom .head-bottom .nav .nav-li .nav-li-box ul li a {
                color: #333;
                margin-right: 15px;
                line-height: 18px; }
              #head-wbottom .head-bottom .nav .nav-li .nav-li-box ul li a:hover {
                color: red;
                text-decoration: underline; }
        #head-wbottom .head-bottom .nav .nav-li .com-dz {
          border: 0;
          margin: 0;
          display: block;
          padding: 0;
          padding-top: 3px;
          height: 33px;
          width: 120px;
          background: #231f20; }
          #head-wbottom .head-bottom .nav .nav-li .com-dz img {
            height: 30px; }
    #head-wbottom .head-bottom .select {
      float: right;
      position: relative;
      width: 207px;
      height: 31px; }
      #head-wbottom .head-bottom .select #text {
        outline: none;
        padding: 0 10px;
        height: 26px;
        border: 0;
        width: 180px;
        border-radius: 5px;
        margin-top: 5px;
        margin-left: 7px; }
      #head-wbottom .head-bottom .select #search {
        position: absolute;
        display: block;
        height: 23px;
        width: 30px;
        background: #fff url(../img/index-icon.png) -42px -164px no-repeat;
        border: none;
        cursor: pointer;
        right: 5px;
        top: 7px; }

/*# sourceMappingURL=public.css.map */
