@charset "UTF-8";
body,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
img,
legend,
li,
menu,
nav,
ol,
p,
ul {
  margin: 0;
  padding: 0; }

fieldset,
img {
  border: 0; }

img {
  display: block; }

address,
caption,
cite,
code,
dfn,
th,
var {
  font-style: normal;
  font-weight: normal; }

ol,
ul {
  list-style: none; }

body {
  color: #333;
  padding: 0;
  font: 12px/20px "SimSun","瀹嬩綋","Arial Narrow",HELVETICA;
  background: #fff;
  /* overflow-y:scroll;*/
  overflow-x: hidden; }

a {
  color: #666;
  text-decoration: none; }

/*------------header-----------------*/
.head-top,
.head-bottom {
  width: 1190px;
  margin: 0 auto;
  padding: 0; }

.head-top {
  width: 1190px;
  height: 40px;
  margin: 5px auto;
  line-height: 40px; }
  .head-top .logo {
    display: block;
    float: left;
    height: 42px;
    width: 181px;
    background: url(../img/476.jpg) no-repeat;
    background-size: 100%; }
  .head-top .logo-dz {
    display: block;
    float: left;
    padding: 0 10px;
    line-height: 40px; }
    .head-top .logo-dz a {
      padding: 0 10px;
      line-height: 40px; }
  .head-top .head-nav {
    float: right; }
    .head-top .head-nav li:nth-of-type(4) a {
      color: red; }
    .head-top .head-nav li:nth-of-type(3):hover .towcode {
      display: block; }
    .head-top .head-nav li {
      float: left;
      padding-left: 10px;
      position: relative; }
      .head-top .head-nav li a {
        line-height: 40px;
        display: inline-block;
        padding-right: 10px; }
      .head-top .head-nav li a:hover {
        color: red; }
      .head-top .head-nav li .towcode {
        position: absolute;
        top: 85px;
        left: -95px;
        z-index: 99;
        width: 280px;
        height: 150px;
        border: 1px #ddd solid;
        background: #fff;
        display: none; }
      .head-top .head-nav li .phone {
        background: url(../img/phone.gif) no-repeat; }
      .head-top .head-nav li .icon {
        display: inline-block;
        width: 12px;
        height: 15px;
        margin-right: 5px;
        margin-bottom: -2px; }
      .head-top .head-nav li .head-cart {
        background: url(../img/index-icon.png) no-repeat -45px -96px; }

#head-wbottom {
  position: initial;
  top: -39px;
  width: 100%;
  height: 36px;
  background: #000; }
  #head-wbottom .head-bottom {
    height: 36px;
    width: 1190px;
    position: relative;
    z-index: 200; }
    #head-wbottom .head-bottom .all-com:hover .head-menu {
      display: block; }
    #head-wbottom .head-bottom .all-com {
      float: left;
      position: relative;
      height: auto;
      width: 210px; }
      #head-wbottom .head-bottom .all-com .all-href {
        display: block;
        text-indent: 24px;
        background: #D6211A url(../img/public.3.4.gif) no-repeat 0 -82px;
        height: 36px;
        line-height: 36px;
        width: 210px;
        font-size: 16px;
        color: #fff; }
      #head-wbottom .head-bottom .all-com .head-menu {
        display: none;
        z-index: 199;
        width: 210px;
        position: absolute;
        left: 0;
        top: 36px;
        background: url(../img/menu-bg.png) no-repeat; }
        #head-wbottom .head-bottom .all-com .head-menu a {
          color: #fff; }
        #head-wbottom .head-bottom .all-com .head-menu a:hover {
          text-decoration: underline; }
        #head-wbottom .head-bottom .all-com .head-menu .c:hover {
          background: #D6211A; }
          #head-wbottom .head-bottom .all-com .head-menu .c:hover .head-menu-three {
            display: block; }
        #head-wbottom .head-bottom .all-com .head-menu .c {
          z-index: 199;
          position: relative;
          padding: 7px 15px 8px;
          width: 180px;
          line-height: 22px;
          box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.1);
          -moz-box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.1);
          -webkit-box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.1); }
          #head-wbottom .head-bottom .all-com .head-menu .c .head-menu-three {
            background: rgba(255, 255, 255, 0.9);
            z-index: 99;
            position: absolute;
            left: 210px;
            top: -80px;
            width: 735px;
            height: 220px;
            display: none;
            border: 1px #ddd solid; }
            #head-wbottom .head-bottom .all-com .head-menu .c .head-menu-three a {
              display: inline-block;
              color: #666; }
            #head-wbottom .head-bottom .all-com .head-menu .c .head-menu-three a:hover {
              color: #DD0000; }
            #head-wbottom .head-bottom .all-com .head-menu .c .head-menu-three .a {
              width: 430px;
              border-top: 1px #ddd dashed;
              border-bottom: 1px #ddd dashed;
              margin: 30px 20px 30px 30px;
              height: 158px;
              float: left; }
              #head-wbottom .head-bottom .all-com .head-menu .c .head-menu-three .a .b {
                margin: 23px 0 0px; }
            #head-wbottom .head-bottom .all-com .head-menu .c .head-menu-three .head-menu-th {
              border-left: 1px #ddd solid;
              height: 178px;
              margin: 20px 0;
              padding: 0 20px;
              float: left;
              line-height: 22px; }
              #head-wbottom .head-bottom .all-com .head-menu .c .head-menu-three .head-menu-th h4 {
                font-weight: bold;
                color: #666;
                line-height: 18px;
                margin-bottom: 15px;
                font-size: 14px; }
          #head-wbottom .head-bottom .all-com .head-menu .c h3 {
            line-height: 18px;
            font-size: 16px;
            height: 21px; }
          #head-wbottom .head-bottom .all-com .head-menu .c p a {
            display: inline-block;
            padding-right: 4px; }
    #head-wbottom .head-bottom .nav {
      float: left;
      width: 684px;
      height: 36px;
      background: #333; }
      #head-wbottom .head-bottom .nav .nav-li:nth-of-type(1) {
        background: #000000; }
      #head-wbottom .head-bottom .nav .nav-li:hover {
        background: #000000; }
        #head-wbottom .head-bottom .nav .nav-li:hover .nav-li-box {
          display: block; }
        #head-wbottom .head-bottom .nav .nav-li:hover .com-dz {
          background: #000000; }
      #head-wbottom .head-bottom .nav .nav-li {
        float: left;
        position: relative;
        height: 36px;
        width: 76px; }
        #head-wbottom .head-bottom .nav .nav-li a:nth-of-type(1) {
          border: 0; }
        #head-wbottom .head-bottom .nav .nav-li a {
          font-size: 14px;
          line-height: 36px;
          margin-top: 11px;
          padding: 0 23px 0 24px;
          border-right: 1px solid #f1f1f1;
          color: #fff; }
        #head-wbottom .head-bottom .nav .nav-li .nav-li-box {
          display: none;
          background: #fff;
          z-index: 99;
          position: absolute;
          top: 36px;
          left: -76px;
          border: 1px #eee solid;
          height: 345px;
          width: 635px;
          box-shadow: 0 0 3px #ddd; }
          #head-wbottom .head-bottom .nav .nav-li .nav-li-box .nav-box-img {
            float: left;
            display: block;
            margin-top: 20px;
            padding: 0 10px 0 20px;
            border-right: 1px solid #eee; }
          #head-wbottom .head-bottom .nav .nav-li .nav-li-box ul {
            float: left;
            padding: 20px 15px 20px 10px;
            width: 395px;
            list-style-type: circle; }
            #head-wbottom .head-bottom .nav .nav-li .nav-li-box ul li {
              margin-bottom: 13px; }
              #head-wbottom .head-bottom .nav .nav-li .nav-li-box ul li h4 {
                color: #222;
                font-weight: bold;
                font-size: 14px;
                line-height: 20px;
                padding-bottom: 4px;
                border-bottom: 1px #ddd dashed;
                margin-bottom: 7px; }
                #head-wbottom .head-bottom .nav .nav-li .nav-li-box ul li h4 a {
                  color: #222;
                  padding: 0;
                  font-weight: bold;
                  font-size: 14px;
                  line-height: 20px;
                  padding-bottom: 4px; }
              #head-wbottom .head-bottom .nav .nav-li .nav-li-box ul li a {
                color: #333;
                margin-right: 15px;
                line-height: 18px; }
              #head-wbottom .head-bottom .nav .nav-li .nav-li-box ul li a:hover {
                color: red;
                text-decoration: underline; }
        #head-wbottom .head-bottom .nav .nav-li .com-dz {
          border: 0;
          margin: 0;
          display: block;
          padding: 0;
          padding-top: 3px;
          height: 33px;
          width: 120px;
          background: #231f20; }
          #head-wbottom .head-bottom .nav .nav-li .com-dz img {
            height: 30px; }
    #head-wbottom .head-bottom .select {
      float: right;
      position: relative;
      width: 207px;
      height: 31px; }
      #head-wbottom .head-bottom .select #text {
        outline: none;
        padding: 0 10px;
        height: 26px;
        border: 0;
        width: 180px;
        border-radius: 5px;
        margin-top: 5px;
        margin-left: 7px; }
      #head-wbottom .head-bottom .select #search {
        position: absolute;
        display: block;
        height: 23px;
        width: 30px;
        background: #fff url(../img/index-icon.png) -42px -164px no-repeat;
        border: none;
        cursor: pointer;
        right: 5px;
        top: 7px; }

/*---------------side---------------*/
aside {
  width: 315px;
  height: 100%;
  background: #000;
  position: fixed;
  top: 0;
  z-index: 300;
  right: -280px; }
  aside .aside-list {
    width: 35px;
    position: absolute;
    left: 0;
    top: 30%;
    float: left; }
    aside .aside-list li:hover {
      background: #DD0000; }
    aside .aside-list li {
      height: 40px;
      width: 35px;
      position: relative;
      left: 0;
      background: #000;
      margin: 4px 0;
      cursor: pointer; }
    aside .aside-list .aside-list-logo {
      height: 35px;
      width: 35px;
      position: absolute;
      top: 0;
      left: 0;
      background: url("../img/index-icon.png") no-repeat; }
    aside .aside-list .aside-list-sty {
      z-index: 300;
      display: none;
      opacity: 0;
      background: #494949;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      color: #fff;
      min-height: 35px;
      line-height: 35px;
      position: absolute;
      right: 35px;
      right: 70px;
      top: 0;
      text-align: center;
      min-width: 90px; }
      aside .aside-list .aside-list-sty span {
        display: block; }
      aside .aside-list .aside-list-sty strong {
        font-family: "瀹嬩綋";
        font-size: 30px;
        position: absolute;
        right: -8px;
        bottom: 10px;
        color: #494949;
        height: 16px;
        line-height: 16px; }
    aside .aside-list .aside-list-1 .aside-list-logo {
      background-position: 3px -224px; }
    aside .aside-list .aside-list-2 {
      height: 95px; }
      aside .aside-list .aside-list-2 .aside-list-logo {
        background-position: 4px -264px;
        top: 10px; }
      aside .aside-list .aside-list-2 span {
        display: block;
        color: #FFF;
        position: absolute;
        top: 35px;
        left: 11px;
        width: 14px; }
    aside .aside-list .aside-list-3 .aside-list-logo {
      background-position: 3px -121px; }
    aside .aside-list .aside-list-4 .aside-list-logo {
      background-position: 3px -291px; }
    aside .aside-list .aside-list-5 .aside-list-logo {
      background-position: 3px -20px; }
    aside .aside-list .aside-list-5 .aside-list-sty {
      text-align: left;
      padding: 5px 5px 5px 7px;
      line-height: 18px; }
      aside .aside-list .aside-list-5 .aside-list-sty span {
        line-height: 20px;
        width: 110px;
        font-size: 16px; }
    aside .aside-list .aside-list-6 .aside-list-logo {
      background-position: 3px -325px;
      background-color: #d00; }
    aside .aside-list .aside-list-6 .aside-list-sty {
      background-color: #d00;
      font-weight: bold;
      font-size: 14px; }
      aside .aside-list .aside-list-6 .aside-list-sty strong {
        color: #d00; }
    aside .aside-list .aside-list-7 .aside-list-logo {
      background-position: 4px -155px; }
    aside .aside-list .aside-list-7 .aside-list-sty {
      background-color: #fff;
      height: 135px;
      width: 230px;
      padding: 10px 5px;
      top: -120px; }
      aside .aside-list .aside-list-7 .aside-list-sty strong {
        color: #fff; }
    aside .aside-list a {
      display: block;
      left: 0;
      background: #000;
      margin-top: 50px;
      background: url("../img/index-icon.png") -37px -196px no-repeat;
      height: 35px;
      width: 35px; }
  aside #aside-content {
    width: 280px;
    height: 100%;
    position: relative;
    left: 35px;
    float: left;
    background: #666666; }

/*-----------------footer-----------------------*/
footer {
  height: 371px;
  width: 100%;
  border-top: 3px solid #e2e2e2;
  margin-top: 50px; }
  footer .footer-top {
    margin: 30px auto;
    width: 1190px;
    height: 251px; }
    footer .footer-top ul {
      padding: 0 10px;
      border-right: 1px solid #dbdbdb;
      width: 781px;
      height: 242px;
      float: left; }
      footer .footer-top ul li {
        float: left;
        margin: 0 65px; }
        footer .footer-top ul li h4 {
          font-size: 16px;
          line-height: 32px;
          color: #000; }
        footer .footer-top ul li a {
          display: block;
          line-height: 30px;
          color: #333; }
        footer .footer-top ul li a:hover {
          color: #DD0000; }
    footer .footer-top .footer-top-right {
      float: left;
      margin-left: 100px;
      width: 250px;
      height: 251px; }
      footer .footer-top .footer-top-right h4 {
        font-size: 16px;
        line-height: 32px;
        color: #000; }
      footer .footer-top .footer-top-right .footer-top-phn {
        margin: 5px 0 15px;
        display: block;
        height: 40px;
        width: 250px;
        background: url(../img/service-icon.png) -10px -15px no-repeat; }
      footer .footer-top .footer-top-right .footer-top-btn {
        margin-bottom: 10px;
        display: block;
        height: 25px;
        width: 135px;
        border: 1px #bdbdbd solid;
        border-radius: 5px; }
        footer .footer-top .footer-top-right .footer-top-btn .footer-top-yh {
          float: left;
          display: block;
          height: 25px;
          width: 37px;
          background: url(../img/service-icon.png) -7px -181px no-repeat; }
        footer .footer-top .footer-top-right .footer-top-btn span {
          height: 25px;
          line-height: 25px;
          margin-left: 15px;
          color: #000;
          font-size: 14px; }
      footer .footer-top .footer-top-right .footer-top-btn:hover {
        background: #DD0000; }
      footer .footer-top .footer-top-right .footer-top-btn:hover .footer-top-yh {
        background-position-y: -148px; }
      footer .footer-top .footer-top-right .weixing-logo {
        display: block;
        height: 90px;
        width: 90px;
        background: url(../img/qr-code.jpg) no-repeat; }
  footer .footer-bottom-wrap {
    background: #000;
    height: 60px;
    width: 100%; }
    footer .footer-bottom-wrap .footer-bottom {
      color: #fff;
      width: 1190px;
      height: 60px;
      margin: 0 auto;
      line-height: 60px;
      overflow: hidden; }
      footer .footer-bottom-wrap .footer-bottom span {
        margin: 0; }
      footer .footer-bottom-wrap .footer-bottom .footer-bottom-time {
        margin-right: 15px; }
      footer .footer-bottom-wrap .footer-bottom .footer-bottom-name {
        margin-right: 30px; }
      footer .footer-bottom-wrap .footer-bottom .footer-bottom-img {
        position: relative;
        top: 10px;
        height: 33px;
        width: 34px;
        display: inline-block;
        margin-right: 20px; }
      footer .footer-bottom-wrap .footer-bottom .footer-bottom-num {
        margin-right: 20px; }
      footer .footer-bottom-wrap .footer-bottom p {
        float: right;
        width: 160px;
        height: 60px; }
        footer .footer-bottom-wrap .footer-bottom p a {
          margin-right: 8px;
          color: #FFFFFF; }
        footer .footer-bottom-wrap .footer-bottom p a:hover {
          color: #DD0000; }

/*# sourceMappingURL=public.css.map */
